@tailwind base;
@tailwind components;
@tailwind utilities;

 
.scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3e454b;
    border-radius: 8px;
     
  }
 
 